@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto&family=Sacramento&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}

.title{
    font-weight: 700;
}

.main-jmb{
    color: white;
    background-image: url(./image/jumbotronimage.png);
    padding: 10em 0;
    background-size: cover;
    margin: 0 0 5em 0;
    z-index: auto;
}

.jmb{
    text-align: center;
}

.jmb h1{
    font-weight: 700;
    color: #6D4C41;
}

.btn-primary{
    background-color: #6D4C41;
    border: 0;
}

.btn-primary:hover{
    background-color: #6d4c41c9;
    border: 0;
}

.navbar{
    background-color: #6D4C41;
}

.navbar-brand{
    color: white !important;
    font-family: 'Sacramento', serif;
    font-size: 36px;
}

.mig-header{
    text-align: center;
}

.mig-header h1{
    font-weight: 600;
    color: #6D4C41;
}

.mig-group{
    text-align: center;
}

.mig-group h2{
    font-weight: 500;
    color: #6D4C41;
}

.contact-us-group{
    text-align: center;
}

.contact-us-group h2{
    font-weight: 700;
    color: #6D4C41;
}

#demoCanvas {
    border-style: groove;
}

.instrument img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.instrument{
    margin: 0 0 5rem 0;
    text-align: center;
}

.instrument-name{
    font-weight: 700;
    color: #6D4C41;
    margin: 1em 0 0.5em 0;
}

.page-footer{
    text-align: left;
    background-color: #6D4C41;
    color: #B48778;
    height: 9em;
    display: flex;
    align-items: center;
    /* color: white; */
}

.social-media-btns{
    text-decoration: none;
    text-align: center;
    margin: 0 10px 0 0;
    padding: 2px;
    background: transparent;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    border: 2px solid #B48778;
}

.social-media-btns a{
    font-size: 1.2rem;
    color: #B48778;

}

@media (min-width: 576px) {
    /* p {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 16px;
    } */
}

@media (min-width: 768px) {
    /* p {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 16px;
    } */
}

@media (min-width: 992px) {
    /* p {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 16px;
    } */
}

/* Custom button */
.wrapper{
    position: relative;
    z-index: 0;
}


.btn-lnk{
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #6D4C41;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #6D4C41;
    transition: all .35s;
}

.icon{
width: 50px;
    height: 50px;
    /* border: 3px solid transparent; */
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    transition: all .35s;
    z-index: -1;
    transform: rotate(45deg);
}

.icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    fill: #fff;
    transition: all .35s;

    transform: rotate(-45deg);
}

.btn-lnk:hover{
    width: 250px;
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-lnk:hover + .icon{
    border: 3px solid #FFF;
        transform: rotate(-45deg);
    transform: translate(245px, 0) rotate(45deg);
    /* z-index: 0; */
}